*{
    background-color: #2e8cb2;
}
.lista_footer{
    display:flex;
    flex-direction: row;
    flex-basis: auto;
}

.footer_content{
   width: 25%;
}

li{
    text-align: center;
}

ul{
    list-style-type: none;
}